<div id="footer">
  <%= link_to image_tag('http://i.creativecommons.org/l/by-sa/3.0/80x15.png',
              :alt => 'Creative Commons License'),
              'http://creativecommons.org/licenses/by-sa/3.0/'.html_safe,
              :style => 'border:none', :target => 'blank' %>
  <span><%= t(:copyright) %>.</span>
  <span><%= t(:follow) %>:</span>

  <%= link_to t('social.linkedin'),
              'http://ru.linkedin.com/pub/sergey-rezvanov/32/b69/974'.html_safe,
              :target => 'blank' %>
  <%= link_to t('social.github'),
              'http://github.com/rezwyi'.html_safe,
              :target => 'blank' %>
  <%= link_to t('social.twitter'),
              'http://twitter.com/rezwyi'.html_safe,
              :target => 'blank' %>
</div>
