<div id="header">
  <div id="logo">
    <%= link_to_unless current_page?(root_url), 'Rezvanov<span>.info</span>'.html_safe, root_url %>
  </div>

  <% unless current_user %>
    <%= link_to t('.login'), login_path, :id => 'login-link' %>

    <div id="login-form-modal">
      <%= render :partial => 'sessions/form', :locals => { :remote => true } %>
    </div>
  <% end %>

  <div id="manage-menu" <%= "style='display:none'" unless current_user %>>
    <ul>
      <li class="first">
        <%= t('common.add') %>
        <%= link_to_unless current_page?(new_admin_post_path), t('.new_post'), new_admin_post_path %>
        <%= t('.or') %>
        <%= link_to_unless current_page?(new_admin_project_path), t('.new_project'), new_admin_project_path %>
      </li>
      <li>
        <%= link_to_unless current_page?(admin_path), t('.admin'), admin_path %>
      </li>
      <li class="last">
        <%= link_to_unless current_page?(logout_path), t('.logout'), logout_path %>
      </li>
    </ul>
  </div>
  
  <div id="pages-menu">
    <ul>
      <li class="first">
        <%= link_to_unless current_page?(root_path), t('.home'), root_path %>
      </li>
      <li>
        <%= link_to_unless current_page?(posts_path), t('common.posts'), posts_path %>
      </li>
      <li>
        <%= link_to_unless current_page?(projects_path), t('common.projects'), projects_path %>
      </li>
      <li class="last">
        <%= link_to t(:twitter), 'http://twitter.com/rezwyi', :target => 'blank' %>
      </li>
    </ul>

    <div id="search">
      <%= form_tag searches_index_path, :method => :get do %>
        <%= search_field_tag :query, params[:query], :placeholder => t('common.search') %>
      <% end %>
    </div>
  </div>
</div>
