<head>
  <title><%= yield :title %></title>

  <%= javascript_include_tag :all %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" href="<%= feed_posts_path %>" />

  <script type="text/javascript">hljs.initHighlightingOnLoad();</script>

  <%= yield :javascripts %>
  <%= yield :stylesheets %>
</head>
