<head>
  <title><%= yield :title %></title>
  <meta name="description" content="<%= strip_tags Snippet.find_by_name(:about).body %>">

  <%= javascript_include_tag :all %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" href="<%= feed_posts_path %>" />
  <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>

  <script type="text/javascript">hljs.initHighlightingOnLoad();</script>

  <%= yield :javascripts %>
  <%= yield :stylesheets %>
</head>
