<% content_for :title, title(t('head.title.admin_tags')) %>

<% content_for :pagination do %>
  <%= render :partial => 'shared/pagination', :locals => { :items => @tags } %>
<% end %>

<div class="manage-actions">
  <%= link_to t('common.add'), new_admin_tag_path, :class => 'button' %>
</div>

<table class="manage-items">
  <tbody>
    <tr class="table-header">
      <th><%= t('common.ident') %></th>
      <th><%= t('common.name') %></th>
      <th><%= t('common.created_at') %></th>
      <th></th>
      <th></th>
    </tr>
    <%= render @tags %>
  </tbody>
</table>
