<div class="form-top">
  <div class="form-top-left">
    <p><%= form.label :title, t('common.title') %></p>
    <p><%= form.text_field :title, :autofocus => true %></p>
    <p><%= form.label :description, t('.description') %></p>
    <p><%= form.text_area :description %></p>
  </div>

  <div class="form-top-right">
    <p><%= form.label :image_url, t('.image_url') %></p>
    <p><%= form.text_field :image_url %></p>
    <br/>
    <p><%= form.label :production_url, t('.production_url') %></p>
    <p><%= form.text_field :production_url %></p>
    <p><%= form.label :source_url, t('.source_url') %></p>
    <p><%= form.text_field :source_url %></p>
  </div>
</div>
