<% content_for :title, title(t(:welcome)) %>

<div class="about">
  <div class="avatar">
    <a href="http://www.flickr.com/photos/rezwyi/6620345855/" title="Self-portrait by rezwyi, on Flickr" target="blank"><img src="http://farm8.staticflickr.com/7145/6620345855_43c95e0d2d_n.jpg" width="320" height="320" alt="Self-portrait"></a>
  </div>

  <div class="about-info">
    <%= raw @about.body if @about %>
  </div>
</div>

<div class="activity">
  <div class="recently-items left">
    <h3><%= t('.recently_posts') %></h3>

    <ol>
      <% @posts.each do |post| %>
        <li><%= link_to post.title, post %></li>
      <% end %>
      <li class="last"><%= link_to t('.show_all'), posts_path %></li>
    </ol>
  </div>

  <div class="recently-items right">
    <h3><%= t('.recently_projects') %></h3>

    <ol>
      <% @projects.each do |project| %>
        <li><%= link_to project.title, project %></li>
      <% end %>
      <li class="last"><%= link_to t('.show_all'), projects_path %></li>
    </ol>
  </div>
</div>
