<% content_for :title, title(t(:welcome)) %>

<div class="about">
  <div class="avatar">
    <%= image_tag 'avatar.png' %>
  </div>

  <div class="about-info">
    <%= raw Snippet.find_by_name(:about).body %>
  </div>
</div>

<div class="activity">
  <div class="recently-items left">
    <h3><%= t('.recently_posts') %></h3>

    <ol>
      <% @posts.each do |post| %>
        <li><%= link_to post.title, post %></li>
      <% end %>
      <li class="last"><%= link_to t('.show_all'), posts_path %></li>
    </ol>
  </div>

  <div class="recently-items right">
    <h3><%= t('.recently_projects') %></h3>

    <ol>
      <% @projects.each do |project| %>
        <li>
          <%= link_to_if project.production_url.present?, project.title,
                         project.production_url,
                         :target => '_blank' %>
        </li>
      <% end %>
      <li class="last"><%= link_to t('.show_all'), projects_path %></li>
    </ol>
  </div>
</div>
