<%
  partial = (params[:i] == 'projects' ? 'manage_projects' : 'manage_posts')
  current = "class='current'"
%>

<div class="manage-tabs">
  <ul>
    <li <%= current unless params[:i] == 'projects' %>>
      <%= link_to t('common.posts'), manage_path(:i => 'posts') %>
    </li>
    <li <%= current if params[:i] == 'projects' %>>
      <%= link_to t('common.projects'), manage_path(:i => 'projects') %>
    </li>
  </ul>
</div>

<table class="manage-items">
  <tbody>
    <%= render :partial => partial, :locals => { :items => @items } %>
  </tbody>
</table>
