<% projects.each do |p| %>
  <li>
    <div id="project-<%= p.id %>" class="project">
      <%= image_tag p.screenshot.thumb.url if p.screenshot.present? %>

      <div class="caption">
        <h3><%= p.title %></h3>
        <p><%= p.description %></p>

        <% if p.production_url.present? %>
          <%= link_to t('.production_url'), p.production_url,
                      :target => 'blank' %>
        <% end %>

        <% if p.source_url.present? %>
          <%= link_to t('.source_url'), p.source_url,
                     :target => 'blank' %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>
