<% content_for :title, title("#{t('head.title.edit')} '#{@post.title}'")  %>

<div class="form">
  <%= form_for [:admin, @post] do |form| %>
    <%= render :partial => 'form', :locals => { :form => form } %>
    <%= render :partial => 'preview', :locals => { :post => @post } %>
    <div class="form-buttons">
      <%= form.submit t('common.save'), :class => 'button' %>
      <%= link_to t('common.back'), :back %>
    </div>
  <% end %>
</div>
