<div class="form-top">
  <div class="form-top-left">
    <p><%= form.label :title, t('common.title') %></p>
    <p><%= form.text_field :title, :autofocus => true %></p>
    <p><%= form.label :published_at, t('common.published_at') %></p>
    <p><%= form.date_select :published_at, :default => Time.now %></p>
  </div>

  <div class="form-top-right">
    <p><%= form.label :tag_names, t('.tags') %></p>
    <p><%= form.text_field :tag_names %></p>

    <% unless @tags.blank? %>
      <div class="tag-links">
        <% @tags.each do |tag| %>
          <%= link_to tag.name, 'javascript:void(0)'.html_safe, :class => 'tag-link', :onclick => "pasteTagName(\"#{tag.name}\")" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-bottom">
  <%= form.text_area :markdown, :id => 'wmd-input' %>
</div>
