<% content_for :comments do %>
  <%= content_tag :div, nil, :id => 'disqus_thread' if current_page?(post_path(post)) %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    var disqus_shortname = 'rezvanovinfo';
    var disqus_developer = 1;

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
<% end %>

<div id="post-<%= post.id %>" class="post">
  <h1 class="post-title">
    <%= link_to post.title, post %>
  </h1>

  <div class="post-info">
    <span class="post-pubdate">
      <%= post.published_at.strftime(t('date.formats.default')) %>
    </span>

    <% unless post.tags.blank? %>
      <span class="post-tags">
        |
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tag, :class => 'tag-link' %>
        <% end %>
      </span>
    <% end %>
  </div>

  <% unless current_page?(post_path(post)) %>
    <% unless post.preface.blank? %>
      <%= content_tag :div, raw(post.preface), :class => 'post-preface post-content' %>
      <div class="read-more">
        <%= link_to t('.read_more'), post %>
      </div>
    <% else %>
      <%= content_tag :div, raw(post.content), :class => 'post-preface post-content' %>
    <% end %>
  <% else %>
    <% unless post.preface.blank? %>
      <%= content_tag :div, raw(post.preface), :class => 'post-preface post-content' %>
      <%= content_tag :div, raw(post.content), :class => 'post-content' %>
    <% else %>
      <%= content_tag :div, raw(post.content), :class => 'post-preface post-content' %>
    <% end %>
  <% end %>

</div>
