<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render :partial => 'shared/head' %>

  <body>
    <div id="wrapper">
      <%= render :partial => 'shared/header' %>

      <div class="manage-tabs">
        <ul>
          <li<%= current_class(admin_posts_path) %>>
            <%= link_to t('common.posts'), admin_posts_path %>
          </li>
          <li<%= current_class(admin_projects_path) %>>
            <%= link_to t('common.projects'), admin_projects_path %>
          </li>
          <li<%= current_class(admin_tags_path) %>>
            <%= link_to t('common.tags'), admin_tags_path %>
          </li>
          <li<%= current_class(admin_snippets_path) %>>
            <%= link_to t('common.snippets'), admin_snippets_path %>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="content-elements"><%= yield %></div>
      </div>

      <% unless yield(:pagination).blank? %>
        <%= yield :pagination %>
      <% end %>

      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>

