<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render :partial => 'shared/head' %>
  <body>
    <div id="wrapper">
      <%= render :partial => 'shared/header' %>

      <div id="content">
        <div id="content-elements">
          <%= yield %>

          <% unless yield(:comments).blank? %>
            <div id="comments"><%= yield :comments %></div>
          <% end %>
        </div>

      </div>

      <% unless yield(:pagination).blank? %>
        <div id="pagination"><%= yield :pagination %></div>
      <% end %>

      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>
