<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render :partial => 'shared/head' %>
  <body>
    <div id="wrapper">
      <%= render :partial => 'shared/header' %>

      <div id="content">
        <div id="content-elements"><%= yield %></div>
      </div>

      <%= content_tag :div, yield(:pagination),
                      :id => 'pagination' unless yield(:pagination).blank? %>

      <%= render :partial => 'shared/footer' %>

      <%= yield :jscript %>
    </div>
  </body>
</html>
