<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render :partial => 'shared/head' %>

  <body>
    <div id="wrapper">
      <%= render :partial => 'shared/header' %>

      <div id="content">
        <div id="content-elements">
          <%= yield %>
        </div>
      </div>

      <% unless yield(:pagination).blank? %>
        <%= yield :pagination %>
      <% end %>

      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
</html>
